<template name="_header">
    <div uk-sticky="media: 960" class="uk-navbar-container tm-navbar-container uk-sticky uk-active uk-sticky-below uk-sticky-fixed" style="position: fixed; top: 0px; width: 1440px;">
        <div class="uk-container uk-container-expand">
            <nav class="uk-navbar">
                <div class="uk-navbar-left">
                    <a href="../" class="uk-navbar-item uk-logo">
                        <span uk-icon="heart"></span> &nbsp;
                        Share Tips
                    </a>
                </div> 
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav uk-visible@m">
                        <li><a href="/pro">Pro</a></li> 
                        <li class="uk-active"><a href="./">Tips</a></li> 
                        <li><a href="/changelog">Changelog</a></li>
                    </ul> 
                    <div class="uk-navbar-item uk-visible@m">
                        <a href="/sign-in" class="uk-button uk-button-default tm-button-default">
                            <span uk-icon="sign-in"></span> &nbsp;
                            Sign In 
                        </a>
                    </div> 
                    <a uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-hidden@m uk-icon uk-navbar-toggle-icon" aria-expanded="false">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2">
                        </rect><rect y="15" width="20" height="2"></rect></svg>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</template>