<template name="_footer">
    <div class="uk-section uk-section-muted">
        <div class="uk-container">
            <h2 class="uk-heading-bullet">Share Tips | វិធី​រៀន​ឱ្យ​ឆាប់ចេះ</h2>
            <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                <div>
                    <h3>១/ ភ្ជាប់គោលដៅជីវិតទៅនឹងអ្វីដែលអ្នកចង់រៀន</h3>
                    បើអ្នកចង់រៀនអ្វីមួយឆាប់ចេះ ដំបូងអ្នកត្រូវតែដឹងទំនាក់ទំនងរវាងគោលដៅនៃការរៀននោះនិងសុបិនក្នុងជីវិតរបស់អ្នក។ អ្នកត្រូវតែដឹងថាអ្នកចង់បានអ្វីពីជីវិតនេះសិនមុននឹងក្លាយជាអ្នករៀនឆាប់ចេះ។ អ្នកនឹងមិនដឹងថាត្រូវរៀនអ្វីទេ ហើយក៏មិនដឹងថាត្រូវអភិវឌ្ឍសមត្ថភាព និងជំនាញអ្វីទេ ប់អ្នកមិនដឹងថាអ្នកត្រូវបំពេញបេសកកម្មអ្វីក្នុងជីវិតនេះ។ ប៉ុន្តែនៅពេលអ្នកសួរខ្លួនឯងថាចង់បានអ្វីពីជីវិតនេះ ហើយរកចម្លើយឃើញ អ្នកនឹងស្វែងរកចំណេះដឹង និងជំនាញដើម្បីសម្រេចឱ្យបានគោលដៅក្នុងជីវិត។  
                </div>
                <div>
                    <h3>២/ ដើរតាមគំរូគេ មិនបាច់បង្កើតអ្វីថ្មីទេ</h3>
                    <p>
                        បើអ្នកចង់រៀនអ្វីមួយ អ្នកត្រូវតែរៀនធ្វើតាមគំរូដែលមានស្រាប់ អ្នកត្រូវមើលដំណើរដែលអ្នកដទៃបានឆ្លងកាត់។ រឿងដែលពិបាកបំផុតគឺការរៀនពីបាតដៃទទេ។ បើគ្មានមូលដ្ឋានទេដែលអ្នកដទៃបន្សល់ទុកឱ្យទេ អ្នកនឹងរាវរកយ៉ាងលំបាកក្នុងការបង្កើតចំណេះដឹងនិងជំនាញថ្មី ហើយនេះជាវិធីរៀនដែលយឺតបំផុត។ ដូច្នេះហើយ មុននឹងចាប់ផ្តើមរៀនជំនាញអ្វីមួយ អ្នកត្រូវទៅរកសៀវភៅអានដើម្បីដឹងថាមាននរណាបានបង្កើតអ្វីខ្លះនិងធ្វើអ្វីខ្លះទាក់ទងនឹងចំណុចដែលអ្នកចង់រៀន។
                    </p>
                </div>
                <div>
                    <h3>៣/ បង្កើតទម្លាប់អនុវត្តឱ្យបានច្រើន</h3>
                    <p>
                        អ្នកត្រូវតែហ្វឹកហាត់និងអនុវត្តជំនាញដែលបានរៀនចេះឱ្យញឹកញាប់ដើម្បីកុំឱ្យភ្លេចនិងធ្វើឱ្យស្ទាត់ជំនាញ។ បើអ្នកចង់រៀនលេងភ្លេង អ្នកប្រហែលជាមិនអាចរៀនចេះតាមរយៈការអាននិងមើលអ្នកដទៃលេងឧបករណ៍ភ្លេងដោយមិនបានចាប់ផ្តើមអនុវត្តដោយខ្លួនឯងនោះទេ។ ជាងនេះទៅទៀត អ្នកក៏មិនអាចរៀនចេះស្ទាត់តាមរយៈការអនុវត្តមួយខែម្តងនោះទេ។ បើអ្នកចង់រៀនភាសាបារាំង អ្នកត្រូវតែហាត់និយាយជាមួយមនុស្សដែលចេះភាសានេះឱ្យបានញឹកញាប់ទៅតាមឱកាសដែលអាចឆ្លៀតបាន។
                    </p>
                </div>
            </div>
    
        </div>
    </div>
</template>