<template name="profile">
    <section id="features">
        <div class="container px-5">
            <nav class="mt-1 mb-1" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Profile</li>
                </ol>
              </nav>
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12 order-lg-1 mb-5 mb-lg-0">
                    <div class="row">
                        {{#autoForm collection=Collection doc=ProfileDoc autosave=false id="profileForm" type=manageType}}
                        <div class="col-md-12 col-sm-12 col-xs-12 mb-2">
                            {{> afQuickField name='name'}}
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 mb-2">
                            {{#if ProfileDoc}}
                                {{> afQuickField name='email' readonly=true}}
                            {{else}}
                                {{> afQuickField name='email' value=resultOption.user_email readonly=true}}
                            {{/if}}
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 mb-2">
                            {{> afQuickField name='phone'}}
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 mb-2">
                            {{> afQuickField name='gender'}}
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 mb-2">
                            {{> afQuickField name='address'}}
                        </div>
                        <br>
                        <div class="col-md-12 col-sm-12 col-xs-12 mb-2">
                            {{#if ProfileDoc}}
                            <button type="submit" class="btn btn-block btn-success btn-sm"><i class="fa fa-save"></i>
                                Update</button>
                            {{else}}
                            <button type="submit" class="btn btn-block btn-success btn-sm"><i class="fa fa-save"></i>
                                Save</button>
                            {{/if}}
                        </div>
                        {{/autoForm}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>