<template name="home">
    
  <div class="uk-section uk-section-muted">
    <div class="uk-container">
        <h1 class="uk-heading-line uk-text-center"><span>Packages Startup Project</span></h1>
        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
          <div>
              <div class="uk-card uk-card-default uk-card-body">
                  <h3 class="uk-card-title">accounts-base</h3>
                  <p>Meteor's user account system. This package implements the basic functions necessary for user accounts</p>
                  Link <a href="https://atmospherejs.com/meteor/accounts-base" target="_blank" rel="noopener noreferrer">Install</a>
              </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-body">
              <h3 class="uk-card-title">accounts-password</h3>
              <p>A login service that enables secure password-based login. See the project page on Meteor Accounts for more details.</p>
              Link <a href="https://atmospherejs.com/meteor/accounts-password" target="_blank" rel="noopener noreferrer">Install</a>
          </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-body">
              <h3 class="uk-card-title">alanning:roles</h3>
              <p>Authorization package for Meteor - compatible with built-in accounts package.</p>
              Link <a href="https://atmospherejs.com/alanning/roles" target="_blank" rel="noopener noreferrer">Install</a>
          </div>
          </div>
      </div>

    </div>
</div>
<div class="uk-section-default">
  <div class="uk-section uk-light uk-background-cover" style="background-image: url(/dark.jpeg)">
      <div class="uk-container">

          <h3>Build Speeds for Development with packages below</h3>

          <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
              <div>
                  <h3 class="uk-card-title">aldeed:collection2</h3>
                  <p>A Meteor package that allows you to attach a schema to a Mongo.Collection. Automatically validates against that schema when inserting and updating from client or server code.</p>
                  Link <a href="https://atmospherejs.com/aldeed/collection2" target="_blank" rel="noopener noreferrer" class="uk-button uk-button-default">Install</a>
              </div>
              <div>
                  <h3 class="uk-card-title">aldeed:autoform</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                  Link <a href="https://atmospherejs.com/aldeed/autoform" target="_blank" rel="noopener noreferrer" class="uk-button uk-button-default">Install</a>
              </div>
              <div>
                  <h3 class="uk-card-title">aldeed:tabular</h3>
                  <p>A Meteor package that creates reactive DataTables in an efficient way, allowing you to display the contents of enormous collections without impacting app performance.</p>
                  Link <a href="https://atmospherejs.com/aldeed/tabular" target="_blank" rel="noopener noreferrer" class="uk-button uk-button-default">Install</a>
              </div>
          </div>

      </div>
  </div>
</div>
</template>