<template name="photo_profile">
    <div class="main-content">
        <div class="container-fluid">
            <div class="headind_srch fixed-top" style="padding: 10px 10px 10px 10px !important;">
                <div class="profile-heading">
                    <div class="frame-icon icon-post-back" style="float: left;">
                        <i class="fa fa-times" style="margin-left: 10px;" aria-hidden="true"></i>
                    </div>
                    <button class="btn btn-primary btn-sm disabled" id="post-item" style="float: right;"> Save</button>
                </div>
            </div>
            <div class="content">
                <input class="file-upload display-must-none" type="file" accept="image/*" />
                
                <div class="circle-img-thumbnail pro-img-circle">
                    <div style=" position: relative;padding: 0; cursor: pointer;" type="file">
                        <img class="img-circle"  id="choose-img" src="/images/icon-256x256.png" style="width: 115px; height: 115px;">
                    </div>
                </div>
                
            </div>
            <br>
        </div>
    </div>
</template>
